{% extends 'base.html' %}
{% block body %}
ng-app="nourish"

{% endblock %}
{% block content %}
<div ui-view></div>
<script type="text/ng-template" id="profile">
  <h4>STORE LIST</h4>
  <div ng-init='getStores()'>
    <table class="table table-hover">
      <thead> 
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>No. Items</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat='store in stores'> 
        <td><a ui-sref="storeDetail({storeId: store.id})">[[store.name]]</a></td>
        <td>[[store.description]]</td>
        <td>[[store.items.length]]</td>
        <td><a class="btn btn-warning btn-sm" ui-sref="storeEdit({storeId: store.id})">Edit</a><button class="btn btn-danger btn-sm" ng-click="deleteStore(store.id)">Delete</a></td>
      </tr>
    </table>
    
  </div>
  <form ng-submit='createStore()'>
    <h5>ADD A STORE</h5>
    <div class="form-group">
      Store Name: <input placeholder='Enter name of store...' class="form-control input-sm" ng-model='storeName'>
    </div>
    <div class="form-group">
      Description: <input placeholder='Enter description of store...' class="form-control input-sm" ng-model='storeDescription'>
    </div>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </form>
  
</script>

<script type="text/ng-template" id="storeDetail">

  <div ng-init='getItemsFromStore()'>
    <h2>[[storeName]]</h2>
    <h5>ITEM LIST</h5>
    <table class="table table-hover">
      <thead> 
       <tr>
         <th>Name</th>
         <th>Comments</th>
         <th>Expiration Date</th>
         <th></th>
       </tr>
      </thead>
      <tr ng-repeat='item in storeItems'>
        <td>[[item.name]]</td>
        <td>[[item.comments]]</td>
        <td>[[item.expiration]]</td>
        <td><a class="btn btn-warning btn-sm" ui-sref="itemEdit({itemId: item.id})">Edit</a><a href='' class="btn btn-danger btn-sm" ng-click="deleteItem(item.id)">Delete</a></td>
    

      </tr> 
     
    </table>

    <form ng-submit='addItem()'>
    <h5>ADD AND ITEM</h5>
      <div class="form-group">
        <label> Item Name: </label> <input placeholder='Enter name of item...' class="form-control input-sm" ng-model='itemName'>
      </div>
      <div class="form-group"> 
        <label> Comments: </label> <input placeholder='comments...' class="form-control input-sm" ng-model='itemComments'>
      </div>
      <div class="form-group"> 
        <label> Expiration Date: </label> <input placeholder='YYYY-MM-DD' class="form-control input-sm" ng-model='itemExpiration'> 
      </div>
      <button class="btn btn-primary" type="submit">SUBMIT</button>
    </form>
        
  </div>
</script>

<script type="text/ng-template" id="itemEdit">
  <div ng-init=getItem()>
    <form ng-submit='updateItem()'>
    <h5>EDIT ITEM: [[itemName]]</h5>
      <div class="form-group">
        <label> Item Name: </label> <input class="form-control input-sm" ng-model='itemName'>
      </div>
      <div class="form-group"> 
        <label> Comments: </label> <input class="form-control input-sm" ng-model='itemComments'>
      </div>
      <div class="form-group"> 
        <label> Expiration Date: </label> <input class="form-control input-sm" ng-model='itemExpiration'> 
      </div>
      <button class="btn btn-primary" type="submit">UPDATE</button>
    </form>
  </div>
</script>

<script type="text/ng-template" id="storeEdit">
  <div ng-init=getStore()>
    <form ng-submit='updateStore()'>
        <h5>EDIT STORE: [[storeName]]</h5>
        <div class="form-group">
          Store Name: <input class="form-control input-sm" ng-model='storeName'>
        </div>
        <div class="form-group">
          Description: <input class="form-control input-sm" ng-model='storeDescription'>
        </div>
        <button class="btn btn-primary" type="submit">UPDATE</button>
      </form>
  </div>
</script>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL}}js/app.js"></script>
<script src="{{ STATIC_URL}}js/controllers.js"></script>
<script src="{{ STATIC_URL}}js/services.js"></script>
{% endblock %}