{% extends 'base.html' %}
{% block body %}
ng-app="nourish"
{% endblock %}
{% block content %}
<div ui-view></div>
<script type="text/ng-template" id="profile">
  <form ng-submit='createStore()'>
    Store Name: <input ng-model='storeName'><br>
    Description: <input ng-model='storeDescription'> <br>
    <button type="submit">SUBMIT</button>
  </form>
  <div ng-init='getStores()'>
    <table>
      <tr ng-repeat='store in stores'> 
        <td>
          <a ui-sref="storeDetail({storeId: store.id})">[[store.name]]</a>
        </td>
        <td>
          <a href='/' ng-click="deleteStore(store.id)">Delete</a>
        </td>
      </tr>
    </table>
    
  </div>
</script>
<script type="text/ng-template" id="storeDetail">
   <div ng-init='getItemsFromStore()'>
   [[storeName]] : [[storeDescription]]

   <form ng-submit='addItem()'>
     Item Name: <input ng-model='itemName'><br>
     Comments: <input ng-model='itemComments'> <br>
     Expiration Date: <input ng-model='itemExpiration'> <br>
     <button type="submit">SUBMIT</button>
   </form>

     <table>
      <tr ng-repeat='item in storeItems'>
        <td>
          [[item.name]]
        </td>
        <td>
          [[item.comments]]
        </td>
        <td>
          [[item.expired]]
        </td>
        <td>
          [[item.expiration]]
        </td>
      </tr> 
       
     </table>
   </div>
</script>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL}}js/app.js"></script>
<script src="{{ STATIC_URL}}js/controllers.js"></script>
<script src="{{ STATIC_URL}}js/services.js"></script>
{% endblock %}