<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block title %}Nourish{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body {% block body%} {% endblock %} >
        <div class="container">
            <div class="center-block">
                <h1>{% block header %}Welcome to Nourish!{% endblock %}</h1>
                <blockquote>Keep your fridge clean.</blockquote>
                <a class="btn btn-info btn-xs" href='#/'>Home</a> <a class="btn btn-info btn-xs" href='#/'>About</a> <a class="btn btn-info btn-xs" href='#/'>Item List</a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        {% block javascript %}
        {% endblock %}
  </body>
</html>